
/* ------- HEADER ------- */

.header {
    background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/banner-mobile.jpg);
    margin-bottom: 40px;
}

.header_banner {
    padding: 30px 0 210px 0;
}

.menu{
    max-width: 330px;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.header_logo {
    width: 270px;
    margin: 195px auto 35px auto;
}

.header_menu-list {
    display: none;
}

.title {
    width: 280px;
    font-size: 26px;
    line-height: 1.385;
    margin: 0 auto;
}

/* ------- POPUP ------- */

.headline {
    font-size: 16px;
}

.popup_container {
    max-width: 330px;
    padding: 30px 25px;
}

/* ------- TRENDS ------- */

.trends {
    flex-flow: row wrap;
    gap: 3px;
}

.trends_article-trend {
    width: 100%;
    height: 230px;
}

.trends_article-text{
    padding: 33px 20px 31px 20px;
    margin: 0 15px 15px 15px;
}

.trends_article-title-link{
    font-size: 16px;
    line-height: 1.25;
}

/* ------- PAGE ------- */

.page {
    width: 330px;
    margin: 44px auto;
    flex-flow: row wrap;
    padding: 0;
}

/* ------- MAIN ------- */

.main {
    width: 100%;
}

.news_article {
    flex-direction: column;
    padding-bottom: 18px;
    border-bottom: 3px solid #eeeeee;
}

.news_article-margin {
    margin-top: 35px;
}

.news_article-view {
    width: 330px;
}

.news_article-listtegs {
    margin-top: 10px;
}

.news_article-list-item {
    margin-top: 15px;
}

.news_article-link {
    font-size: 16px;
    line-height: 1.25;
}

.news_article-meta {
    margin-bottom: 10px;
}

.about {
    font-size: 14px;
    line-height: 1.43;
}

/* ------- ASIDE ------- */

.aside {
    width: 100%;
}

.aside-item {
    margin-top: 44px;
}


.headlines {
    font-size: 16px;
}

.form-search-label {
    width: 280px;
}

.button {
    width: 50px;
}

/* -------PRODUCTS ------- */

.products {
    width: 330px;
    margin: 0 auto 20px auto;
    flex-wrap: wrap;
}

.product_article {
    margin: 0 30px 70px 23px;
}

.product_article-name{
    font-size: 17px;
    line-height: 1.3;
}

/* ------- FOOTER ------- */

.footer {
    width: 330px;
    margin: 0 auto 50px auto;
}

.footer_address {
    margin: 0 auto 50px auto;
}
