/* ------- HEADER ------- */

.header {
    background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/master/sources/img/banner-bg.jpg);
    margin-bottom: 60px;
}

.header_banner {
    padding: 28px 0 125px 0;
}

.menu {
    max-width: 1200px;
    padding: 0 15px;
}

.header_logo {
    width: 180px;
    margin-left: 3px;
}

.js-header_menu-button {
    display: none;
}

.title {
    width: 687px;
    font-size: 45px;
    line-height: 1.667;
    margin: 110px auto 0 auto;
}

/* ------- POPUP ------- */

.headline {
    font-size: 20px;
}

.popup_container {
    max-width: 390px;
    padding: 55px 30px;
}

/* ------- TRENDS ------- */

.trends {
    gap: 4px;
}

.trends_article-trend {
    width: 25%;
    height: 320px;
}

.trends_article-text {
    padding: 39px 34px 37px 34px;
    margin: 0 20px 15px 20px;
}

.trends_article-title-link {
    font-size: 20px;
    line-height: 1.2;
}

/* ------- PAGE ------- */

.page {
    width: 1200px;
    padding: 0 15px;
    margin: 63px auto;
}

/* ------- MAIN ------- */

.main {
    width: 778px;
}

.news_article-margin {
    margin-top: 60px;
}

.news_article-view {
    width: 380px;
    margin-right: 30px;
}

.news_article-link {
    font-size: 20px;
    line-height: 1.2;
}

.news_article-meta {
    margin-bottom: 40px;
}

.about {
    font-size: 15px;
    line-height: 1.467;
}

/* ------- ASIDE ------- */

.aside {
    width: 272px;
    margin-left: 120px;
}

.aside-item {
    margin-bottom: 60px;
}

.headlines {
    font-size: 14px;
}

.form-search-label {
    width: 222px;
}

.button {
    width: 50px;
}

/* -------PRODUCTS ------- */

.products {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto 90px auto;
}

.product_article {
    width: 33.33%;
    margin: 0 20px;
}

.product_article-content-even, .product_article-content:first-child {
    margin-right: 75px;
}

.product_article-name {
    font-size: 20px;
    line-height: 1.2;
}

/* ------- FOOTER ------- */

.footer {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto 40px auto;
}

.footer_address {
    margin: 0 auto 70px auto;
}